﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Soln_Same_Id_Client_Server.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Task 1</title>
    <link href="Css/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
         <asp:UpdatePanel ID="UpdatePanel1" runat="server">
             <ContentTemplate>
                   <div style="text-align:center">

                         <span class="span" runat="server">Son of Water , but when returns to parent it dies , what is it ? </span><br />

                               <span class="span" runat="server"> To view answer Click on button</span><br />

                                   <asp:Button ID="btnans" runat="server" Text="Click" CssClass="btn btn2" OnClick="btnans_Click"  /><br />

                                     <div id="divans" style="display:none" runat="server" class="div"> Ice </div>
                      
                   </div>
                 
             </ContentTemplate>
             
              </asp:UpdatePanel>
    </form>
</body>
</html>
